if has guix
then
    use guix
else
    PATH_add "$HOME/src/po4a"
    path_add PERL5LIB "$HOME/src/po4a/lib"
    layout perl
    path_add C_INCLUDE_PATH /usr/local/include
    cpanm --notest YAML::Tiny Syntax::Keyword::Try CommonMark
    layout ruby
    PATH_add translation/bin
fi
